
.container-wrapper {
    text-align:center;
    margin-top: 30px;
    padding-top: 25px;
    background-color: #839CB2;
    height :600px;
}
.container {
    width:400px;
    height:600px;
    display:inline-block;
    margin-left: 15px;
    background-color: #FEFFFF;
}
/* ---Image--- */

.crop {
    display: inline-block;
  position: relative;
  width: 500px;
  height: 200px;
  overflow: hidden;
  border-radius: 10%;

}

.crop img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.name {
  width: 100%;
  height: 5%;
  text-align: left;
  margin-top: 7%;
}

@media all and (max-width: 650px) {
    .container {
        width:100%;
        display:block;
        margin:0;
    }
}

.weightDetails {
  width: 100%;
  margin-top: 20px;
  text-align: right;
  margin-bottom: 50px;
}
.weightD{
  height: 50%;
}

